@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h3>Add a new cuisine</h3>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new cuisine" />
}
<p>@Html.ActionLink("Back to cuisines", "Index")</p>