@{
  Layout = "_Layout";
}

<div id="homepage">
  <h1>Welcome to our Best Restaurant list!</h1>
  <hr />
  <p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>
  <p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>
  <p>@Html.ActionLink("Add new cuisine", "Create", "Cuisines")</p>
  <p>@Html.ActionLink("Add new restaurant", "Create", "Restaurants")</p>
</div>